body {
    background-color: rgb(238, 238, 238);
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
}

.bgcolorcard {
    background-color: #fff;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    /*h1*/
}

p,
span {
    font-family: 'Noto Serif', serif;
    /* para*/
}

button {
    font-family: 'Birthstone', cursive;
    /* btn */
}

nav {
    font-family: cursive;
    font-weight: bolder;
}


/* nav bar section start  */

.navbar-brand {
    position: relative;
    padding: 0px;
}

.top-nav-collapse {
    background: #fff;
    z-index: 999999;
    padding: 5px !important;
    top: 0px !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    background: #fff !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.top-nav-collapse .navbar-brand {
    top: 0px;
}

.top-nav-collapse .navbar-brand img {
    width: 100% !important;
}

.top-nav-collapse .navbar-nav .nav-link {
    color: #585b60 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #d32a80 !important;
    border-color: #d32a80 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    color: #d32a80 !important;
}

.navbar-expand-md .navbar-toggler {
    background: transparent;
    /* border: 1px solid #d32a80; */
    color: #d32a80;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
}

.navbar-brand img {
    width: 100%;
}

.top-nav-collapse .navbar-nav .li.active a.nav-link {
    color: #d32a80 !important;
    border-color: #d32a80;
}

.name::before {
    content: "Made by with â¤ Shreeyash Parsawar ";
}

.navbar-expand-md .navbar-nav .nav-link i {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-item {
    padding-left: 25px;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #333;
    font-weight: bolder;
    font-size: larger !important;
    padding: 7px 0;
    cursor: pointer;
    position: relative;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link:before {
    background-color: #d32a80;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    margin: 0 auto;
    width: 0;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 1s;
    -ms-transition: width 1s;
    -webkit-transition: width 1s;
}

.navbar-expand-md .navbar-nav .li a:hover,
.navbar-expand-md .navbar-nav .li .active>a,
.navbar-expand-md .navbar-nav .li a:focus {
    color: #fff;
    outline: none;
}

.navbar-expand-md .navbar-nav .active>.nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open>.nav-link {
    color: #d32a80 !important;
    width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover::before,
.navbar-expand-md .navbar-nav .nav-link:focus {
    color: #d32a80;
    width: 100%;
    transition: width 1s;
    -webkit-transition: width 1s;
    -ms-transition: width 1s;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 210px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    border: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    color: #d32a80;
    background: #f7f7f7;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}

.uk-divider-icon::after,
.uk-divider-icon::before {
    border-bottom: 1px solid rgb(235, 96, 96) !important;
}


/* nav bar section start  */

a,
ul,
.li {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

.li {
    list-style: none;
    display: inline-block;
}


/* navbar css  */

.bgcolor {
    background-color: #8549f9;
}

.btn-danger {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* ---------------------------------
 FOOTER
--------------------------------- */

footer {
    padding: 70px 0 30px !important;
    background: #fff !important;
}

footer .footer-section {
    margin-bottom: 40px !important;
}

footer .footer-section .title {
    margin-bottom: 20px !important;
}

footer .footer-section ul>.li {
    margin-right: 10px !important;
    margin-top: 10px !important;
}

footer .copyright {
    margin: 10px 0 !important;
}

footer .icons>.li>a {
    height: 40px !important;
    width: 40px !important;
    border-radius: 40px !important;
    line-height: 40px !important;
    text-align: center !important;
    transition: all .3s !important;
    font-size: 1.2em !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
    background: #498BF9 !important;
    color: #fff !important;
}

footer .icons>.li>a:hover {
    transform: translateY(-2px) !important;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, .3) !important;
}

footer .input-area {
    position: relative !important;
    height: 50px !important;
    width: 100% !important;
    box-shadow: 0px 0px 1px #bbb !important;
    background: #F5F7F6 !important;
}

footer .input-area .email-input {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    padding: 0 70px 0 20px !important;
    background: transparent !important;
    border: 0 !important;
    outline: 0 !important;
}

footer .input-area .email-input:focus {
    box-shadow: 0px 0px 1px #aaa !important;
}

footer .input-area .submit-btn {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 50px;
    background: none !important;
    border: 0 !important;
    outline: 0 !important;
    margin-right: 10px !important;
    opacity: .8 !important;
    cursor: pointer;
    transition: all .2s !important;
}

li {
    list-style-type: none;
}


/* Bounce To Right */

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d12020;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* scroll to top  */

#button {
    display: inline-block;
    background-color: #ff3300;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#button::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* Screens Resolution : 992px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {}


/* Screens Resolution : 992px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    #slider {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    footer {
        padding: 40px 0 0px;
        margin-top: 0px;
    }
    #slider {
        display: none;
    }
}


/* we serve delicious food section start  */